<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <form method="post" action="@Url.Action("LocSearch", new{Loc="!!", UserID=ViewData["UserId"]})">
        <input type="submit" value="View All" formaction="@Url.Action("LocSearch", new{Loc="!!", UserID=ViewData["UserId"]})"/>
    </form>
    <table>
    <tr>
        <th>
            LotName
        </th>
        <th>
            Lot Location
        </th>
        <th>
            Current Capactiy / Max Capacity 
        </th>
        <th>Map</th>
        <th>Favorite</th>
    </tr>
    @model List<CarLove.Models.Lot>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Lotname
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.CurrentCount / @item.Maxsize
            </td>
            <td>
                @Html.ActionLink("Directions", "ViewLot", new{ID=item.ID})
            </td>
            <td>
                @Html.ActionLink("Faviorte", "AddFavorite", new{LotID=item.ID, UserID=ViewData["UserId"]})
            </td>
        </tr>
    }
    </table>
</body>